h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p{
    color: #8f8f8f;
}

body{
    font-family: 'Montserrat';
    text-align: center;
}

/* Headings */

.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/* Sections */

.colored-section{
    background-color: #ff4c68;
    color: #ffffff;
}

.white-section{
    background-color: #ffffff;
}


/* Nav Bar */

.navbar{
    padding: 1% 15%;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    text-align: left;
    font-weight: bold;
}

.nav-item{
    padding: 0px 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 300;
    color: #ffffffbe !important;
}

/* Title */

.container-fluid{
    padding: 3% 15% 9%;
}

#title{
    text-align: left;
}

.title-image{
    width: 55%;
    transform:rotate(25deg);
    position: absolute;
    right: 25%;
}

/* Download Buttons */

.download-button{
    margin: 5% 3% 5% 0%;
}

/* Features */

#features{
    padding: 7% 18%;
    position: relative;
}

.fa-icon{
    color: #ef8172;
    margin-bottom: 1.5rem;
}

.fa-icon:hover{
    color: #ff4c68;
}

.feature-title{
    font-size: 1.5rem;
}

/* Testimonials */

#testimonials{
    background-color: #ef8172;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

/* Press */

#press{
    background-color: #ef8172;
    padding-bottom: 3% 15%;
}

.press-img{
    width: 50%;
    margin: 0px 20px 50px;
}

/* Pricing */

#pricing{
    padding: 100px;
}

.pricing-column
{
    padding: 3%;
}

.price-text{
    font-size: 2rem;
    line-height: 1.5;
}

/* Call to Action */

#cta{
    padding: 7% 20%;
}

/* Footer */

#footer{
    padding: 3%;
}

#footer i{
    margin: 15px;
}

/* Viewports */

@media (max-width: 1028px){
    .title-image{
        position: static;
        transform: rotate(0);
    }

    #title{
        text-align: center;
    }
}
